{% load sekizai_tags %}

{% block presentation %}{% addtoblock "css" %}
<!--[if (!IE)|(gte IE 8)]><!--> 
<link
  rel="stylesheet"
  media="all"
  href="{{ MEDIA_URL }}css/global.css" />
<!--<![endif]-->

<!--[if lt IE 8]> 
<link
  rel="stylesheet"
  media="all"
  href="{{ MEDIA_URL }}css/global-ie.css" />
<![endif]-->
{% endaddtoblock %}{% endblock %}

{% block script-hat %}{% addtoblock "js-head" %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script>
  Modernizr || document.write('<script src="{{ MEDIA_URL }}js-lib/modernizr/2.0.6/modernizr.min.js"><\/script>');
</script>
{% endaddtoblock %}{% endblock %}

{% block script-bottoms %}{% addtoblock "js-foot" %}
<script> 
  Modernizr.load([
    {
      load: [ 
        'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', 
        'http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js' ],
      complete: function () {
      
        if ( !window.jQuery ) {
          Modernizr.load('{{ MEDIA_URL }}js-lib/jquery/1.6.4/jquery.min.js');
        }
                
        if ( !window.jQuery.ui ) {
          Modernizr.load('{{ MEDIA_URL }}js-lib/jqueryui/1.8.13/jquery-ui.min.js');
        }
        
        // @compressed
        //Modernizr.load('{{ MEDIA_URL }}js/all_compressed.js');
      
        Modernizr.load('{{ MEDIA_URL }}js/plugins.js');
        Modernizr.load('{{ MEDIA_URL }}js/global.js');

      }
    }
  ]);
</script> 
{% endaddtoblock %}{% endblock %}

<!DOCTYPE 
  html 
  public "✰">

<!-- =============================================================== NAMEDROP ==

  ╔═════════════════╗
        nerdfiles
  ╚═════════════════╝

-->

<!-- =============================================================== FILE DETAILS ==

/**
 * Base Template for Ten Rock Solid Layouts
 *
 * @file            base.html
 *
 * @author          nerdfiles
 * @designer        nerdfiles
 * @org             none
 * @copyright       Copyright(c) 2011, 2011
 *                  by nerdfiles
 * @date            09.25.2011.1.09.p.cst
 * @project         ten-rock-solid-layouts
 * 
 * @see             http://designshack.co.uk/articles/layouts/10-rock-solid-website-layout-examples
 */

-->

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ LANGUAGE_CODE|default:"en-us" }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ LANGUAGE_CODE|default:"en-us" }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ LANGUAGE_CODE|default:"en-us" }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}> <![endif]-->
<!--[if gt IE 8]> <!--> <html class="no-js" lang="{{ LANGUAGE_CODE|default:"en-us" }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}> <!--<![endif]-->

<head>

<!-- =============================================================== META: DEVICE/UA == -->

{% block charset %}
<meta charset="utf-8" />
{% endblock %}

{% block device-overrides %}
<!--[if IE]>
<meta 
  http-equiv="X-UA-Compatible" 
  content="IE=edge,chrome=1" />
<![endif]-->
{% endblock %}

{% block mobile-viewport-optimization %}
<meta 
  name="viewport" 
  content="width=device-width,initial-scale=1" />
{% endblock %}


<!-- =============================================================== META: DNS PREFETCHING == -->

{% block dns-prefetching %}
<link 
  rel="dns-prefetch" 
  href="http://ajax.googleapis.com/" />
<link 
  rel="dns-prefetch" 
  href="http://ajax.aspnetcdn.com/" />
<!--link
  rel="dns-prefetch"
  href="http://dummyimage.com/" /-->
<link
  rel="dns-prefetch"
  href="http://cdnjs.cloudflare.com/" />
{% endblock %}


<!-- =============================================================== META: PAGE META == -->

<title dir="ltr">{% block page-title %}Layouts!{% endblock %}</title>

{% block page-metadata %}
<meta 
  name="description" 
  content="" />
<meta 
  name="author" 
  content="" />
<meta 
  name="keywords" 
  content="" />
{% endblock %}


<!-- =============================================================== FAVICONS == -->

{% block favicons %}
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}img-ui/apple-touch-icon-114x114-precomposed.png" title="For iPhone 4 with high-resolution Retina display" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}img-ui/apple-touch-icon-72x72-precomposed.png" title="For first-generation iPad" />
<link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}img-ui/apple-touch-icon-precomposed.png" title="For non-Retina iPhone, iPod Touch, and Android 2.1+ devices" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}img-ui/favicon.ico" title="For all other User Agents" />
{% endblock %}


<!-- =============================================================== PRESENTATION == -->

{% render_block "css" %}  


<!-- =============================================================== SCRIPT-HAT: BEHAVIOR == -->

{% render_block "js-head" %}


</head>

<!-- =============================================================== (ALWAYS) BODYCLASS == -->

<body class="_site_domain-com _templatename-base _pagename-TBD">


<!--










          This section has been intentionally left blank.










-->

<div class="container">
  <p>Just another view. {{ MEDIA_URL }}</p>
</div>

<!--










          This section has been intentionally left blank.










-->

<!-- =============================================================== SCRIPT-BOTTOMS == -->

{% render_block "js-foot" %}


<!-- =============================================================== SCRIPT-BOTTOMS: ANALYTICS == -->

{% block script-bottoms-analytics %}
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
{% endblock %}


<!-- =============================================================== SCRIPT-SOCKS == -->

{% block script-socks %}
<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
{% endblock %}


</body>

</html>

