{% extends 'website/header-base.html' %}

{% block header-base %}

<!-- @src footer-threeboxes.html @extends footer-base.html -->

<header class="{% block header-base-class %}header-base header-threeboxes{% endblock %}">
  <div class="inner">
    <div class="logo">Three Boxes</div>
    <nav>
        <ul>
            <li><a href="">Page</a></li>
            <li><a href="">Page</a></li>
            <li><a href="">Page</a></li>
        </ul>
    </nav>
  </div>
</header><!-- End .header-base -->

{% endblock %}