{% extends 'website/template-base.html' %}
{% load sekizai_tags %}

<!-- ================================================================ BLOCK: TEMPLATE-NAME == -->

{% block template-name %}3dscreenshots{% endblock %}


<!-- =============================================================== BLOCK: BASE-HEADER == -->

{% block header-base %}
{% include 'website/header-3dscreenshots.html' %}
{% endblock %}


<!-- =============================================================== BLOCK: BASE-CONTENT == -->

{% block content-base %}
<section class="{% block content-base-class %}content-base{% endblock %} content-3dscreenshots">
  <section class="intro">
    <h1>Header</h1>
    <p>Para</p>
  </section>
  <section class="screenshots">
    <ul>
      <li>
        <ul>
          <li>Screen 1</li>
          <li>Screen 2</li>
          <li>Screen 3</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Screen 1</li>
          <li>Screen 2</li>
          <li>Screen 3</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Screen 1</li>
          <li>Screen 2</li>
          <li>Screen 3</li>
        </ul>
      </li>
    </ul>
  </section>
</section><!-- End .content-base -->
{% endblock %}


<!-- =============================================================== BLOCK: BASE-FOOTER == -->

{% block footer-base %}
{% include 'website/footer-3dscreenshots.html' %}
{% endblock %}
