{% extends 'website/template-base.html' %}
{% load sekizai_tags %}

<!-- ================================================================ BLOCK: TEMPLATE-NAME == -->

{% block template-name %}threeboxes{% endblock %}


<!-- =============================================================== BLOCK: BASE-HEADER == -->

{% block header-base %}
{% include 'website/header-threeboxes.html' %}
{% endblock %}


<!-- =============================================================== BLOCK: BASE-CONTENT == -->

{% block content-base %}

<div class="box box-stage">
  <div class="inner">
    <p>Box Stage</p>
  </div>
</div>

<div class="box box-row">
  <div class="inner">
    <div class="box box-stage">
      <div class="inner">
        <p>Box Stage</p>
      </div>
    </div>
    <div class="box box-stage">
      <div class="inner">
        <p>Box Stage</p>
      </div>
    </div>
    <div class="box box-stage">
      <div class="inner">
        <p>Box Stage</p>
      </div>
    </div>
    <div class="box box-stage">
      <div class="inner">
        <p>Box Stage</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


<!-- =============================================================== BLOCK: BASE-FOOTER == -->

{% block footer-base %}
{% include 'website/footer-threeboxes.html' %}
{% endblock %}
