/*
Syntax error: Invalid CSS after "...aseWidth * 12; ": expected "}", was "(@note: wanna c..."
        on line 310 of ./global.scss

305: 
306: /* =============================================================== CONTAINER == */
307:     
308:     .container { 
309:         margin: 0 auto; 
310:         width: $baseWidth * 12; (@note: wanna column-12!)
311:     
312: /* =============================================================== HEADER == */
313: 
314:     //.header-threeboxes { }
315:     .header-base { }

Backtrace:
./global.scss:310
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:836:in `tok!'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:362:in `block'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:379:in `block_child'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:57:in `stylesheet'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/scss/parser.rb:26:in `parse'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:252:in `block (4 levels) in watch'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:245:in `watch'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/plugin.rb:111:in `method_missing'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/exec.rb:408:in `watch_or_update'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/exec.rb:294:in `process_result'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/exec.rb:41:in `parse'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/lib/sass/exec.rb:21:in `parse!'
/usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.7/bin/sass:8:in `<top (required)>'
/usr/local/Cellar/ruby/1.9.2-p290/bin/sass:19:in `load'
/usr/local/Cellar/ruby/1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...aseWidth * 12; \": expected \"}\", was \"(@note: wanna c...\"\A         on line 310 of ./global.scss\A \A 305: \A 306: /* =============================================================== CONTAINER == */\A 307:     \A 308:     .container { \A 309:         margin: 0 auto; \A 310:         width: $baseWidth * 12; (@note: wanna column-12!)\A 311:     \A 312: /* =============================================================== HEADER == */\A 313: \A 314:     //.header-threeboxes { }\A 315:     .header-base { }"; }
